# Golang

.go/

# NixOS

.direnv/

# Database

database.sqlite3
data/*.sqlite3

# Contents

contents/*
!contents/.gitkeep

# Build

necore
necore-server
*.exe

# Test artifacts

*.test
*.test.exe
coverage.out

# dotenv

.env
.env.*
!.env.example

.idea/

# build/test artifacts

.gotmp/

# OS junk

.DS_Store
