# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [main]
    tags:
      - 'v*.*.*'

  pull_request:
    branches: [main]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Install Dependencies
      run: |
        go get -u
        echo ${{github.ref_type}}

    - name: Build
      run: go build -o necore

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: necore
        path: necore

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
    - name: Get artifact
      uses: actions/download-artifact@v4
      with:
        name: necore
    - name: Create release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUBTOKEN }}
        name: "${{ steps.get_version.outputs.VERSION }}"
        files: |
          necore

